<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
		<p>Hi <%= @user.name %>,</p>

		<p>How was your day yesterday?</p>

		<p>You didn't rate your day for <%= @missing_date %>. Why don't you go ahead and do that now? The links below let you directly rate your day.</p>

		<p><%= link_to(raw("<img src='http://#{HowWasYourDay::Application.config.host_for_emails}/images/smileys/smiley_good.png' /><br/>Good"), "http://" + HowWasYourDay::Application.config.host_for_emails + @user.good_rating_link_for(@missing_date)) %> <br/>
			<%= link_to(raw("<img src='http://#{HowWasYourDay::Application.config.host_for_emails}/images/smileys/smiley_mixed.png' /><br/>Mixed"), "http://" + HowWasYourDay::Application.config.host_for_emails + @user.mixed_rating_link_for(@missing_date)) %><br/>
			<%= link_to(raw("<img src='http://#{HowWasYourDay::Application.config.host_for_emails}/images/smileys/smiley_bad.png' /><br/>Bad"), "http://" + HowWasYourDay::Application.config.host_for_emails + @user.bad_rating_link_for(@missing_date)) %>
		</p>

		<p>Thanks for using "How was your day?"!</p>

		<p>Sincerely,<br/><br/>

		Someone Who Cares</p>
</body>
</html>