<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
		<p>Hi <%= @user.name %>,</p>

		<p>How was your day yesterday?</p>

		<p>You didn't rate your day for <%= @missing_date.strftime("%A, %B %d") %>. Why don't you go ahead and do that now? The links below let you directly rate your day.</p>

		<table border="0" width="300" cellpadding="5">
		<tr>
			<td style="text-align:center;"><%= link_to(raw("<img src='http://#{HowWasYourDay::Application.config.host_for_emails}/images/smileys/smiley_good.png' border='0'/>"), "http://" + HowWasYourDay::Application.config.host_for_emails + @user.good_rating_link_for(@missing_date)) %><br/>
				<%= link_to("Good", "http://" + HowWasYourDay::Application.config.host_for_emails + @user.good_rating_link_for(@missing_date)) %></td>
			<td style="text-align:center;"><%= link_to(raw("<img src='http://#{HowWasYourDay::Application.config.host_for_emails}/images/smileys/smiley_mixed.png' border='0'/>"), "http://" + HowWasYourDay::Application.config.host_for_emails + @user.mixed_rating_link_for(@missing_date)) %><br/>
				<%= link_to("Mixed", "http://" + HowWasYourDay::Application.config.host_for_emails + @user.mixed_rating_link_for(@missing_date)) %>
				</td>
			<td style="text-align:center;"><%= link_to(raw("<img src='http://#{HowWasYourDay::Application.config.host_for_emails}/images/smileys/smiley_bad.png' border='0'/>"), "http://" + HowWasYourDay::Application.config.host_for_emails + @user.bad_rating_link_for(@missing_date), :style => "text-decoration: none;") %><br/>
				<%= link_to("Bad", "http://" + HowWasYourDay::Application.config.host_for_emails + @user.bad_rating_link_for(@missing_date)) %>
			</td>
		</tr>
		</table>

		<p>Thanks for using "How was your day?"!</p>

		<p>Sincerely,<br/><br/>

		Someone Who Cares</p>

		<p style="font-size: 10px;">
		You can stop these daily reminder emails by editing your <%= link_to "preferences", "http://" + HowWasYourDay::Application.config.host_for_emails + "/user/edit" %>.</p>
</body>
</html>